.u-section-1 .u-sheet-1 {
  min-height: 530px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 118px auto 0 292px;
}

.u-section-1 .u-form-1 {
  height: 238px;
  width: 570px;
  margin: 0 auto 60px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 194px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 146px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 92px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}